.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page {
  width: 100%;
  height: auto;
  min-height: 1080px; /* Можете изменить на другое значение в зависимости от ваших потребностей */
  position: absolute;
  scroll-behavior: auto;

  background: rgb(213, 213, 213);
  background: linear-gradient(180deg, rgba(213, 213, 213, 1) 0%, rgba(204, 185, 185, 1) 100%);
  background-size: auto;
}


.container {
  height: 100%;
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Распределить элементы равномерно вокруг контейнера */
  align-items: center;
}



.paperStyleForm {
  padding: 50px 20px !important;
  width: 95% !important;
  margin: 30px auto !important;
  border-radius: 20px !important;
  background-color: #ffffff !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  font-family: "Cormorant Garamond", serif !important;
  font-size: 1rem !important;
  font-weight: 750 !important;
  padding: 0.75rem !important;
  margin: auto !important;
  width: 25% !important;
  background-color: #667488 !important;
  border-radius: 50px !important;
}
