<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1>Sign Up</h1>
<h2>Please fill out the form to sign up</h2>
<form action="/signUp" method="post">
    <input type="hidden" name="_csrf" value="csrfTokenValue">
    <p class="error">Error message goes here</p>
    <label for="firstName">Enter First Name:</label>
    <input type="text" id="firstName" name="firstName" placeholder="Enter your first name">
    <br>
    <br>
    <label for="lastName">Enter Last Name:</label>
    <input type="text" id="lastName" name="lastName" placeholder="Enter your last name">
    <br>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Enter your email">
    <br>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter your password">
    <br>
    <br>
    <input type="submit" value="Sign Up">
</form>
</body>
</html>
